@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  background-color: rgb(4, 13, 29);
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.infoDiv {
  position: fixed;
  z-index: 10;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
}

.logoDiv {
  position: fixed;
  padding-top: 1rem;
  width: 100;
  height: 100;
  z-index: 1000;
}

.radarDiv {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: auto;
  vertical-align: middle;
  margin: auto !important;
}

.legend {
  font-family: "Roboto", sans-serif;
  fill: #333333;
}
